{% extends 'app/base.html' %}
{% load static %}
{% block title%}
Home
{% endblock title %}
{% block banner-slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static "app/images/banner/b1.jpg" %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static "app/images/banner/b2.jpg" %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static "app/images/banner/b3.jpg" %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static "app/images/banner/b4.jpg" %}" class="d-block w-100 " alt="banner image">
        </div>
    </div>
  </div>
{% endblock banner-slider %}
{% block information %}
<div class="container">
    <div class="row bg-success text-center p-5 text-white border-bottom shadow">
        <h1>Products</h1>
        <small class="fs-5">Vous ajoutez ici une pub et description de votre entreprise </small>

    </div>
</div>
{% endblock information %}

{% block content %}

{% endblock content %}

{% block main-content %}
<div class="row container">
  <div class="col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-name: none;">
      <div class="goodnesssec buttermilk buttermilk smbg"> 
          <a href="#">
              <div class="goodnessseccont text-center">
                  <img src="{% static 'app/images/product/sweet-lassi.png' %}" class="img-responsive" alt="">
                  <p class="mlkpro">Sweet Lassi</p>

              </div>
          </a>
      </div>
  </div>
  <div class="col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-name: none;">
      <div class="goodnesssec curdbgpro buttermilk buttermilk smbg" > 
          <a href="#">
              <div class="goodnessseccont text-center">
                  <img src="{% static 'app/images/product/milk-shake-chocolate.png' %}" class="img-responsive" alt="">
                  <p class="mlkpro">MilkShake Chocolate</p>

              </div>
          </a>
      </div>
  </div>
  <div class="col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-name: none;">
      <div class="goodnesssec curdbgpro buttermilk"> 
          <a href="#">
              <div class="goodnessseccont text-center">
                  <img src="{% static 'app/images/product/kulfi.png' %}" class="img-responsive" alt="">
                  <p class="mlkpro">Kulfi</p>

              </div>
          </a>
      </div>
  </div>
</div>

<div class="row container">
  <div class="col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-name: none; ">
      <div class="goodnesssec buttermilk buttermilk smbg"> 
          <a href="#">
              <div class="goodnessseccont text-center">
                  <img src="{% static 'app/images/product/processedcheeseslice.png' %}" class="img-responsive" alt="">
                  <p class="mlkpro">processedcheeseslice</p>

              </div>
          </a>
      </div>
  </div>
  <div class="col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-name: none;">
      <div class="goodnesssec curdbgpro buttermilk buttermilk smbg" > 
          <a href="#">
              <div class="goodnessseccont text-center">
                  <img src="{% static 'app/images/product/tonemilk.png' %}" class="img-responsive" alt="">
                  <p class="mlkpro">tonemilk</p>

              </div>
          </a>
      </div>
  </div>
  <div class="col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-name: none; ">
      <div class="goodnesssec curdbgpro buttermilk"> 
          <a href="#">
              <div class="goodnessseccont text-center">
                  <img src="{% static 'app/images/product/sabja.png' %}" class="img-responsive" alt="">
                  <p class="mlkpro">sabja</p>

              </div>
          </a>
      </div>
  </div>
</div>

<div class="row container">
  <div class="col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-name: none; ">
      <div class="goodnesssec buttermilk buttermilk smbg"> 
          <a href="#">
              <div class="goodnessseccont text-center">
                  <img src="{% static 'app/images/product/buffalo-ghee.png' %}" class="img-responsive" alt="">
                  <p class="mlkpro">buffalo-ghee</p>

              </div>
          </a>
      </div>
  </div>
  <div class="col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-name: none;">
      <div class="goodnesssec curdbgpro buttermilk buttermilk smbg" > 
          <a href="#">
              <div class="goodnessseccont text-center">
                  <img src="{% static 'app/images/product/milk-shake-strawberry.png' %}" class="img-responsive" alt="">
                  <p class="mlkpro">milk-shake-strawberry</p>

              </div>
          </a>
      </div>
  </div>


  <div class="col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-name: none;">
      <div class="goodnesssec curdbgpro buttermilk"> 
          <a href="#">
              <div class="goodnessseccont text-center">
                  <img src="{% static 'app/images/product/mozzarellacheese.png' %}" class="img-responsive" alt="">
                  <p class="mlkpro">mozzarellacheese</p>

              </div>
          </a>
      </div>
  </div>
</div>

{% endblock main-content %}